<!-- dashboard partial -->
<div ng-controller='DashboardController'>
    Welcome: {{loggedIn}}
    <div ng-controller='UserController'>
        <h3><a href='#/dashboard'>Home</a> |
        <a href='#/question'>Add a Question</a> |
        <a href='' ng-click='logout()'>Logout</a></h3>
    </div>
    <div id= 'filter'>
        <input type="text" ng-model="filter_name" placeholder="filter">   {{filter_name}}
    </div>

    <table>
        <tr><th>Question</th><th>Answers</th><th>Action</th></tr>
        <tr ng-repeat="question in questions | filter: {name:filter_name}"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{question.theQuestion}}</td>
            <td>{{question.answers}}</td>
            <td>
                <a href='#/poll/show/{{question._id}}'> Show</a>
                <a href='#/poll/new/{{question._id}}'> Answer</a>
            </td>
        </tr>
    </table>
</div>
