<!-- dashboard partial -->
<div ng-controller='DashboardController'>
    Welcome: {{loggedIn}}
    <h3><a href='#/'>Home</a> |
        <a href='#/question'>Add a Question</a> |
        <a href='' ng-click='logout()'>Logout</a></h3>

    <div id= 'filter'>
        <input type="text" ng-model="filter_name" placeholder="filter">   {{filter_name}}
    </div>

    <table>
        <tr><th>Question</th><th>Answers</th><th>Action</th></tr>
        <tr ng-repeat="question in questions | filter: {name:filter_name}"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{question.theQuestion}}</td>
            <td>{{question.answers}} - {{question._id}}</td>
            <td>
                <a href='' ng-click='show_poll(quesstion.q_id,question.theQuestion)'> Show</a>
                <a href='#/poll/{{question._id}}/new'> Answer</a>
            </td>
        </tr>
    </table>
</div>
