<div ng-controller='PollController'>
    <h3><a href='#/dashboard'>Go to Polls</a></h3>
    <h3>The Poll</h3>
    <div id='errorArea'>
        <h2>
            {{errorArea.errmsg}}
        </h2>
    </div>

        <h3>{{question.theQuestion}}</h3>
        <p> {{question.description}}</p>
        {{question._id}}



            <h2 ng-model='new_p.user'>{{user}}, please enter your question below</h2>
                <form>
                    <form name='newq'>
                        Your Answer: <br>
                        <textarea name='newp' rows ='4' cols='50' ng-model='new_p.comment'></textarea><br>
                        Supporting details for your answer (optional):<br>
                        <textarea name='newp'  rows ='4' cols='50' ng-model='new_p.details'></textarea><br>
                        <input type='submit' ng-click="new_poll(question._id)" value = 'Create Poll'>
                        <input type='submit' value='Cancel' ng-click="new_q = {}">
                        {{question._id}}
                    </form>
                <form>
            <br>
        <div >
</div>
