<div ng-controller='QuestionController'>
    <h3>New Question</h3>
    <div >

        <h2 ng-model='new_q.user'>{{user}}, please enter your question below</h2>
            <form>
                <form name='newq'>
                    Question: <br>
                    <textarea name='newq' rows ='4' cols='50' ng-model='new_q.question'></textarea><br>
                    Description
                    (Optional):<br>
                     <textarea name='newq'  rows ='4' cols='50' ng-model='new_q.description'></textarea><br>
                    <input type='submit' ng-click="addquestion()" value = 'Create Poll'>
                    <input type='submit' value='Cancel' ng-click="new_q = {}">
                </form>
            <form>
        <br>

</div>
